/*
  ====================
      Common tags
  ====================
*/
body {
  color: var(--dark-color);
  font-family: var(--font-family);
  font-size: var(--font-size);

  overflow-x: hidden;
}



/*
  ====================
     Common classes
  ====================
*/

/* Layout */
.container {
  max-width: var(--max-page-width);
  width: 100%;

  margin: 0px auto;
  padding-left: var(--container-gap);
  padding-right: var(--container-gap);
}

.container_full-height { height: 100%; }

/* Decoration */
.rounded { border-radius: var(--rounding-value); }

.text-accent { color: var(--primary-color); }

.text-inactive { color: var(--secondary-color); }

.highlight {
  margin-left: 0.21em;
  margin-right: 0.21em;

  font-weight: bold;
}

.highlight_big { font-size: 1.5em; }

/* Buttons */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: var(--button-padding);

  background-color: var(--primary-color);
  color: var(--light-color);

  text-align: center;

  font-weight: bold;

  border-radius: var(--rounding-value);

  transition-property: background-color;
  transition-duration: .15s;
  transition-timing-function: ease;
}

.button_center {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.button_light {
  background-color: var(--secondary-inactive-color);
  color: var(--primary-color);
}

.button_hover-shadow {
  transition-property: background-color, box-shadow;
  transition-duration: .25s;
}

.button:hover {
  background-color: var(--primary-active-color);

  cursor: pointer;
}

.button_light:hover { background-color: var(--secondary-color); }

.button_hover-shadow:hover {
  box-shadow: 0px 0px 5px 1px #e5f0ff80,
              0px 0px 20px 2px #e5f0ff80
}



/*
  ====================
    General units
  ====================
*/

/* Navigation */
nav.top-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  width: 100%;
  height: var(--nav-height);

  background-color: white;

  box-shadow: var(--light-shadow);

  padding-top: var(--nav-gap-y);
  padding-bottom: var(--nav-gap-y);

  z-index: 99;
}

.top-nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}

#top-nav__logo-img {
  width: auto;
  height: var(--nav-logo-height);
}

.top-nav__buttons { transition: top .40s cubic-bezier(0.46, 0.03, 0.52, 0.96); }

.top-nav__buttons.shown { top: var(--nav-height); }

.top-nav__button:first-child { margin-right: 15px; }

.top-nav__burger {
  display: none;

  padding: 6px 20px 9px 20px;
  font-size: var(--nav-burger-size);
  line-height: 0;

  transition: color .15s ease,
              background-color .15s ease;
}

.top-nav__burger:hover { background-color: var(--secondary-color); }

@media screen and (max-width: 700px) {

  .top-nav__inner:after {
    content: "";
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: white;
    height: 100%;
    z-index: -1;
  }

  .top-nav__buttons {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: -150%;
    left: 0px;
    right: 0px;

    width: 100%;

    padding: 25px var(--container-gap) 50px var(--container-gap);

    background: #fff;

    box-shadow: var(--light-shadow);

    z-index: -2;
  }

  .top-nav__button { margin-top: 15px; }

  .top-nav__button:first-child {
    margin-top: 0px;
    margin-right: 0px;
  }

  .top-nav__burger { display: block; }

}



/*
  ====================
       Sections
  ====================
*/

.page-content { padding-top: var(--nav-height); }



/*
  ====================
     Content blocks
  ====================
*/
.page-block {
  margin: var(--page-block-margin-y) 0px;
  padding: var(--page-block-padding);

  border-radius: var(--rounding-value);

  overflow: hidden;
}

.page-block_colored-light { background-color: var(--secondary-inactive-color); }

.page-block_colored-dark {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.page-block_colored-dark .page-block__header {
  color: var(--secondary-inactive-color);
}

.page-block p:first-child { margin-top: 0px; }

.page-block__header {
  margin: 1.25em 0px;

  color: var(--primary-color);
}

.page-block__header:first-child { margin-top: 0px; }

.page-block_two-column {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.page-block_two-column .page-block__header,
.page-block_two-column .page-block__full-row {
  flex-shrink: 0;
  width: 100%;
}

.page-block_two-column > .page-block_column { width: 48%; }

@media screen and (max-width: 992px) {

  .page-block_two-column { flex-direction: column; }

  .page-block_two-column > .page-block_column { width: 100%; }

}

.page-block__image-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
}

.page-block__image-wrapper_alone {
  margin-top: 0px;
  margin-bottom: 0px;
}

.page-block__image {
  width: 100%;
  height: auto;

  border-radius: var(--rounding-value);
}
