/* Tags */
body {
  color: var(--dark-color);
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
}



/* Classes */
.container {
  max-width: 1140px;
  width: 100%;

  margin: 0px auto;
  padding-left: 30px;
  padding-right: 30px;
}

.rounded {
  border-radius: 4px;
}

.text-accent {
  color: var(--primary-color);
}

.text-inactive {
  color: var(--secondary-color);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 15px 45px;

  background-color: var(--primary-color);
  color: var(--light-color);

  font-weight: bold;

  border-radius: 4px;

  transition-property: background-color;
  transition-duration: .15s;
  transition-timing-function: ease;
}

.button_light {
  background-color: var(--secondary-inactive-color);
  color: var(--primary-color);
}

.button:hover {
  background-color: var(--primary-active-color);

  cursor: pointer;
}

.button_light:hover {
  background-color: var(--secondary-color);
}



/*
  Blocks
*/

/* Nav */
nav.top-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  width: 100%;

  background-color: white;

  box-shadow: 0px 0px 5px 2px var(--secondary-color);

  padding-top: 15px;
  padding-bottom: 15px;

  z-index: 99;
}

nav.top-nav .top-nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.top-nav .top-nav__logo img {
  width: auto;
  height: 55px;
}

nav.top-nav .top-nav__buttons {
  transition: top .40s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

nav.top-nav .top-nav__buttons.shown {
  top: 89px;
}

nav.top-nav .top-nav__button:first-child {
  margin-right: 15px;
}

nav.top-nav .top-nav__burger {
  display: none;

  padding: 6px 20px 9px 20px;
  font-size: 2.5em;
  line-height: 0;

  transition: color .15s ease,
              background-color .15s ease;
}

nav.top-nav .top-nav__burger:hover {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 684px) {

  .top-nav__inner:after {
    content: "";
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: white;
    height: 100%;
    z-index: -1;
  }

  nav.top-nav .top-nav__buttons {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: -150%;
    left: 0px;
    right: 0px;

    width: 100%;

    padding: 25px 30px 50px 30px;

    background: #fff;

    box-shadow: 0px 5px 5px 2px var(--secondary-color);

    z-index: -2;
  }

  nav.top-nav .top-nav__button {
    margin-top: 15px;
  }

  nav.top-nav .top-nav__button:first-child {
    margin-top: 0px;
    margin-right: 0px;
  }

  nav.top-nav .top-nav__burger {
    display: block;
  }

}

/* page-content */
.page-content {
  padding-top: 85px;
}

/* page-block */
.page-block {
  margin: 30px 0px;
  padding: 45px 30px;

  border-radius: 4px;

  overflow: hidden;
}

.page-block_colored {
  background-color: var(--secondary-inactive-color);
}

.page-block p:first-child {
  margin-top: 0px;
}

.page-block__header {
  margin: 30px 0px;

  color: var(--primary-color);
}

.page-block__header:first-child {
  margin-top: 0px;
}

.page-block_two-column {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.page-block_two-column .page-block__header,
.page-block_two-column .page-block__full-row {
  flex-shrink: 0;
  width: 100%;
}

.page-block_two-column > * {
  width: 48%;
}

@media screen and (min-width: 993px) {

  .page-block_two-column .page-block__image img {
    margin-top: 0px;
    margin-bottom: 0px;
  }

}

@media screen and (max-width: 992px) {

  .page-block_two-column {
    flex-direction: column;
  }

  .page-block_two-column > * {
    width: 100%;
  }

}

.page-block__image img {
  width: 100%;
  height: auto;

  margin-top: 15px;
  margin-bottom: 15px;
}
